<!--Make sure the form has the autocomplete function switched off:-->
<form>
  <!--

  <div class="autocomplete" style="width:300px;">
    <input id="myInput" type="text" name="location" placeholder="Location">
  </div>
  <input type="submit">

  -->
  <div class="autocomplete" style="width:300px;">
    <input placeholder="Location">
  </div>
  <input type="submit">
</form>
<br>
<table class="w3-table-all w3-card-4">
        <tbody>
        <tr>
          <td>Wind</td>
          <td id="weather-widget-wind">Calm 1.0  m/s </td>
        </tr>
        <tr>
          <td>Cloudiness</td>
          <td id="weather-widget-cloudiness">Sky is clear</td>
        </tr>
        <tr>
          <td>Pressure</td>
          <td id="weather-widget-pressure">1022 hpa</td>
        </tr>
        <tr>
          <td>Humidity</td>
          <td id="weather-widget-humidity">56 %</td>
        </tr>
        <tr>
          <td>Geo coords</td>
          <td id="weather-widget-geo-coords">51.51, -0.13</td>
        </tr>
      </tbody>
    </table>