<!--Make sure the form has the autocomplete function switched off:-->
<form>
  <!--

  <div class="autocomplete" style="width:300px;">
    <input id="myInput" type="text" name="location" placeholder="Location">
  </div>
  <input type="submit">

  -->

  <input placeholder="Location">
  <button>Search</button>
</form>